
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Patient Details</h2>
<div ng-app="app" ng-controller="PatientCtr">
    <table class="table table-bordered table-hover table-responsive">
        <tr>
            <td><b>Patient Number:</b></td>
            <td>{{PatientId}}</td>
        </tr>
        <tr>
            <td><b>First Name:</b></td>
            <td>{{FirstName}}</td>
        </tr>
        <tr>
            <td><b>Last Name:</b></td>
            <td>{{LastName}}</td>
        </tr>
        <tr>
            <td><b>ID Number:</b></td>
            <td>{{IdNumber}}</td>
        </tr>
        
    </table>
    <p class="btn btn-primary"> @Html.ActionLink("Back to List", "Index", null, new { style = "color:white" })</p>
</div>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/App/PatientDetail.js"></script>
<style>
    body {
        color: white;
        background: black;
    }
    h2{
        color:#ffffff;
    }
      .table-hover > tbody > tr:hover {
    background-color: #7d5a5a;
}
           .btn-primary {
    color: #fff;
    background-color: #2f2f30;
    border-color: #e8e8e8;
}
      
element.style {
}
.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #878e90;
    border-color: #cccccc;
}
.btn-danger {
    color: #fa1313;
    background-color: #8c8686;
}

</style>