
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Patient List </h2>
    <fieldset>
        <legend></legend>
        <button class="btn btn-primary" onclick="location.href='@Url.Action("Register", "Patient")'">Register</button>
    </fieldset>
<br />
<fieldset>
    <legend></legend>
    <div ng-app="app" ng-controller="PatientController">
        <form>
            <div class="table-responsive form-group"      >
                <input type='text' class="form-control" ng-model='searchText' placeholder="Search patient " />
                <br />
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">ID Number</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="patient in PatientList | filter:serchText">
                            <td>{{patient.FirstName}}</td>
                            <td>{{patient.LastName}}</td>
                            <td>{{patient.IdNumber}}</td>
                            <td>
                                <button class="btn btn-info" ng-click="RedirectToEdit(patient)">Edit</button>|
                                <button class="btn btn-default" ng-click="RedirectToDetails(patient)">Details</button> |
                                <button class="btn btn-danger" ng-click="DeletePatient(patient)">Delete</button>  |
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </form>
    </div>
</fieldset>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/App/Patient.js"></script>
<style>
    body {
        color: white;
        background: black;
    }
        legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #ffffff !important;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
        .table-hover > tbody > tr:hover {
    background-color: #7d5a5a;
}
              .btn-primary {
    color: #fff;
    background-color: #2f2f30;
    border-color: #e8e8e8;
}
      
element.style {
}
.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #878e90;
    border-color: #cccccc;
}
</style>